.trigger-warning-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #005276;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .trigger-warning-content {
    background-color: #340B30;
    padding: 2rem;
    border-radius: 8px;
    text-align: center;
    max-width: 400px;
    width: 90%;
    color: #e0e0e0;
  }
  
  .trigger-warning-content h2 {
    margin-top: 0;
    color: #e0e0e0;
  }
  
  .trigger-warning-buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1.5rem;
  }
  
  .trigger-warning-buttons button {
    background-color: #340B30;
    color: #DBD4D3;
    border: 1px solid #DBD4D3;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color .5s, color .5s;
  }
  
  .trigger-warning-button-yes {
    background-color: #B0DB43; /* Green for acceptance */
    border-color: #B0DB43;
    color: white;
  }
  
  .trigger-warning-button-yes:hover {
    background-color: #B0DB43;
    border-color: #B0DB43;
    color: black;
  }
  
  .trigger-warning-button-no {
    background-color: #6A2738; /* Red for decline */
    border-color: #6A2738;
    color: white;
  }
  
  .trigger-warning-button-no:hover {
    background-color: #6A2738;
    border-color: #6A2738;
  }
  